<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <div class="fd-main-layout">

      {% include "navbar.njk" %}

      {% include "sidebar.njk" %}

      <main class="[ fu-spacing-pl-05 fu-spacing-pr-05 fu-spacing-pt-05 fu-spacing-pb-05 fu-lg-layout-pl-06 fu-lg-layout-pr-06 fu-lg-layout-pt-06 fu-lg-layout-pb-06 fu-flow ]">
        <article class="[ fd-doc-article ] [ fu-flow ]">
          {{ content | safe }}
        </article>
      </main>

      {% include "footer.njk" %}

    </div>
    <script type="module" src="/assets/js/search.mjs"></script>
    <script type="module" src="/assets/js/main.mjs"></script>
    {% serviceWorker %}
  </body>
</html>