<div class="[ fd-sidebar ] [ fu-spacing-pt-05 fu-spacing-pb-05 fu-spacing-pl-05 fu-spacing-pr-05 fu-lg-spacing-pt-09 fu-lg-spacing-pb-09 fu-lg-spacing-pl-00 fu-lg-spacing-pr-00 ]">
    <details id="sidebar-nav" class="fd-sidebar-details" open>
        <summary class="fc-button">Menu</summary>
        {% include "nav.njk" %}
    </details>
</div>